<app-main [template]="content"></app-main>
<ng-template #content>
  <div class="w-full grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-6 pb-10">
    <ng-container *ngFor="let frame of frames">
      <app-analytics-card [frame]="frame"></app-analytics-card>
    </ng-container>
  </div>
  <div class="w-full grid xl:grid-cols-4 grid-cols-1 gap-6 pb-6">
    <div
      class="xl:col-span-3 rounded-[10px] relative cursor-pointer box-shadow trans-3"
    >
      <div class="px-6 mt-4 flex w-full justify-between">
        <div>
          <div class="text-body-xl font-medium">User Inflow Statistics</div>
          <div class="text-body-md text-[#b9b9b9]">Nov - July</div>
        </div>
        <div>
          <div class="flex items-center gap-x-8">
            <div>
              <div
                class="text-body-sm font-medium text-[#b9b9b9] flex items-center gap-x-2"
              >
                <div class="h-2 w-2 bg-[#5f2eea] rounded-full"></div>
                AGENTS
              </div>
              <p class="text-body-md font-medium ml-3">475 273</p>
            </div>
            <div>
              <div
                class="text-body-sm font-medium text-[#b9b9b9] flex items-center gap-x-2"
              >
                <div class="h-2 w-2 bg-[#4bde97] rounded-full"></div>
                USERS
              </div>
              <p class="text-body-md font-medium ml-3">782 396</p>
            </div>
          </div>
        </div>
      </div>
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
    <div
      class="rounded-[10px] relative cursor-pointer box-shadow trans-3 bg-primary-500"
    >
      <div class="px-4 pt-4 pb-4">
        <div echarts [options]="options" class="demo-chart"></div>
        <div class="mt-10">
          <p class="text-body-xl font-semibold text-white">New Users</p>
          <p class="text-white">(+23%) than last week</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full grid xl:grid-cols-4 grid-cols-1 gap-6 pb-10">
    <div
      class="xl:col-span-3 rounded-[10px] relative cursor-pointer box-shadow trans-3"
    >
      <div class="px-4 pt-4 pb-2">
        <div class="flex gap-x-2">
          <div class="mt-2">
            <h4
              class="text-heading-xs font-semibold mb-1 text-[#111111] leading-[1.1]"
            >
              Test
            </h4>
            <p class="text-body-lg leading-[1.1] text-[#aaaaaa]">Test</p>
            <div class="mt-5 mb-2 flex items-center gap-x-2">
              <img src="assets/images/wema-success.png" class="h-4 w-4" />
              <span class="text-[#4BDE97]">20</span>
              <span class="text-[#bdbdbd]">Last month</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
