<app-main [template]="content"></app-main>
<ng-template #content>
  <div
    class="w-full grid xl:grid-cols-4 lg:grid-cols-2 grid-cols-1 gap-6 pb-10"
  >
    <ng-container *ngFor="let frame of frames">
      <app-analytics-card [frame]="frame"></app-analytics-card>
    </ng-container>
  </div>
  <div class="w-full grid xl:grid-cols-4 grid-cols-1 gap-6 pb-6 bg-white">
    <div
      class="xl:col-span-3 rounded-[10px] relative cursor-pointer box-shadow trans-3"
    >
      <div class="px-6 mt-4 flex w-full justify-between">
        <div>
          <div class="text-body-xl font-medium">User Inflow Statistics</div>
          <div class="text-body-md text-[#b9b9b9]">Nov - July</div>
        </div>
        <div>
          <div class="flex items-center gap-x-8">
            <div>
              <div
                class="text-body-sm font-medium text-[#b9b9b9] flex items-center gap-x-2"
              >
                <div class="h-2 w-2 bg-[#5f2eea] rounded-full"></div>
                AGENTS
              </div>
              <p class="text-body-md font-medium ml-3">475 273</p>
            </div>
            <div>
              <div
                class="text-body-sm font-medium text-[#b9b9b9] flex items-center gap-x-2"
              >
                <div class="h-2 w-2 bg-[#4bde97] rounded-full"></div>
                USERS
              </div>
              <p class="text-body-md font-medium ml-3">782 396</p>
            </div>
          </div>
        </div>
      </div>
      <div echarts [options]="chartOption" class="demo-chart"></div>
    </div>
    <div
      class="rounded-[10px] relative cursor-pointer box-shadow trans-3 bg-primary-500"
    >
      <div class="px-4 pt-4 pb-4">
        <div echarts [options]="options" class="demo-chart"></div>
        <div class="mt-10">
          <p class="text-body-xl font-semibold text-white">New Users</p>
          <p class="text-white">(+23%) than last week</p>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full grid xl:grid-cols-4 grid-cols-1 gap-6 pb-10 bg-white">
    <div
      class="xl:col-span-3 rounded-[10px] relative cursor-pointer box-shadow trans-3"
    >
      <div class="px-4 pt-4 pb-2">
        <div class="ml-3 text-body-xl my-4 font-medium">Recent Requests</div>
        <nz-table #basicTable [nzData]="dataSet" [nzShowPagination]="false">
          <thead>
            <tr>
              <th>Name/Email</th>
              <th>Type</th>
              <th>Status</th>
              <th>Date</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let data of basicTable.data">
              <td>
                <div class="flex items-center gap-x-2">
                  <div class="h-10 w-10 rounded-lg bg-[#d8d8d8]"></div>
                  <div>
                    <p class="text-body-lg">
                      {{ data.name }}
                    </p>
                    <p class="text-body-sm text-[#8392ab]">
                      {{ data.email }}
                    </p>
                  </div>
                </div>
              </td>
              <td>
                <p class="text-[#8392ab]">{{ data.type }}</p>
              </td>
              <td>
                <p
                  class="px-2 py-1 w-fit rounded-xl"
                  [ngClass]="
                    data.status === 'Pending'
                      ? 'text-[#ffb647] bg-[#fff8ea]'
                      : 'text-[#64b67f] bg-[#eff8f2]'
                  "
                >
                  {{ data.status }}
                </p>
              </td>
              <td>
                {{ data.date }}
              </td>
              <td>
                <div class="p-2 rounded-full bg-[#eef6fe] w-fit">
                  <img src="assets/images/wema-next.png" class="h-3" />
                </div>
              </td>
            </tr>
          </tbody>
        </nz-table>
      </div>
    </div>
  </div>
</ng-template>
